/* Landscape Phones / Tablets */
@media (min-width: 480px) {
  /* FOOTER INFO */
  .footer-container {
    display: grid;
    grid: 1fr / 1fr 1fr 1fr;
    gap: 5rem;

    justify-content: center;
    align-items: start;
  }

  .contact-form {
    width: 450px;
    grid-row: span 2;
  }

  .contact-form input {
    width: 300px;
    padding: 1rem 0.25rem;
  }
}

/* Landscape Tablets / Medium Screens */
@media (min-width: 768px) {
  /* CONTACT CONTENT */
  .contact-grid {
    display: grid;
    grid: auto auto / 450px 350px;
    justify-content: center;
    align-items: center;
  }

  /* BUTTON SIZING */
  button {
    /* spacing */
    padding: 12px 24px;
  }
}

/* Desktop / Large Screens */
@media (min-width: 1025px) {
  /* HEADER, NAVIGATION */
  .menu-toggle {
    display: none;
  }

  nav {
    position: relative;

    display: grid;
    grid: 1fr / 1fr 1fr auto 1fr 1fr;
  }

  a.nav-links {
    display: block;

    padding: 12px;
  }

  /* LOGO */
  a.logo,
  img.logo {
    display: block;
  }

  a.logo {
    padding: 12px;

    &:hover {
      background-color: var(--primary-hover);
      cursor: pointer;
    }
  }

  .icon {
    height: 48px;
    width: 48px;
  }

  img.logo {
    width: 48px;
    height: 48px;
  }

  /* MENU CONTENT */
  #drinks-menu,
  #food-menu,
  #dessert-menu {
    display: grid;
    grid: 1fr / 1fr 1fr;
    padding: 2rem;
  }

  .menu-img {
    /* sizing */
    width: 400px;
    height: 300px;
  }

  .drinks-header,
  .drinks-row {
    /* sizing */
    min-width: 0;
  }

  /* ABOUT CONTENT */
  .about-txt {
    /* spacing */
    padding: 1rem 10rem;
  }

  .img-container {
    /* layout */
    flex-direction: row;
    justify-content: start;
    align-items: center;

    /* sizing */
    width: 100%;
  }

  .about-img {
    max-width: 420px;
  }
}
