@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* CSS RESETS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ROOT VARIABLES */

:root {
  --primary: #e6ddcf;
  --secondary: #afb699;
  --secondary-hover: #ccd3b4;
  --accent: #c97b63;
  --accent-hover: #c98b78;
  --blk: #000000;
  --w: #ffffff;
}

body {
  font-family: "Source Sans 3", sans-serif;
  letter-spacing: 0.25rem;
  background-color: var(--primary);
}

/* GLOBAL SECTIONS */
/* logo */
h1.logo a {
  /* layout */
  display: none;

  /* styling */
  color: var(--blk);
  text-decoration: none;

  &:hover {
    cursor: pointer;
  }
}

/* ELEMENT STYLING */
button {
  /* styling */
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--accent);

  /* border styling */
  border-radius: 5px;
  border: 1px solid var(--blk);
  outline: none;

  /* text styling */
  text-align: center;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.2rem;

  /* spacing */
  padding: 0.8rem 0.5rem;

  /* pseudo-classes */
  &:hover {
    cursor: pointer;
    background-color: var(--accent-hover);
  }

  &:active {
    background-color: var(--accent);
  }
}

/* header */
header {
  /* layout */
  position: sticky;
  top: 0;
  z-index: 1000;

  /* styling */
  background-color: var(--primary);
  border-bottom: 1px solid var(--blk);
  text-align: center;

  /* spacing */
  padding: 0.5rem;
}

/* navigation */
nav {
  /* layout */
  display: grid;
  grid: 1fr 1fr 0 1fr 1fr / 1fr;
  align-items: center;

  /* spacing */
  margin: auto;

  /* sizing */
  /* TODO: check max-width and width requirements */
  /* make it responsive on mobile/desktop */
  max-width: 900px;

  /* styling */
  text-align: center;
}

.nav-links {
  display: none;
  color: var(--blk);
  text-decoration: none;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.nav-links.show {
  display: grid;
}

/* menu toggle */
.menu-toggle {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* spacing */
  margin: auto;
  gap: 5px;

  /* styling */
  background: none;
  border: none;

  &:hover {
    cursor: pointer;
    background: none;
  }
}

.menu-toggle span {
  width: 30px;
  height: 4px;
  background: var(--blk);
}

/* --- Animation States --- */

/* Hide the middle line */
.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

/* Rotate top line down */
.menu-toggle.active span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

/* Rotate bottom line up */
.menu-toggle.active span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

/* footer */
footer {
  /* layout */
  display: flex;
  flex-direction: column;
  text-align: center;

  /* styling */
  background-color: var(--primary);
}

.footer-container {
  /* layout */
  display: grid;
  grid: 1fr 1fr 1fr / 1fr;

  /* styling */
  text-align: center;

  /* spacing */
  margin: auto;
  padding: 1rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  /* spacing */
  padding: 0.8rem;

  /* styling */
  background-color: var(--secondary);
  color: var(--blk);

  letter-spacing: 0;
}

.footer-copyright p {
  /* styling */
  font-size: 12px;

  /* sizing */
  width: 60%;

  /* spacing */
  margin: auto;
}

/* START OF INDEX PAGE */
/* hero section */
section.hero-section {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  /* sizing */
  height: 70vh;
  min-width: 100%;

  /* styling */
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://images.unsplash.com/photo-1521017432531-fbd92d768814?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

div.hero-content {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: absolute;
}

/* TODO: delete or make visible with shadow */
div.hero-content h2 {
  /* styling */
  text-align: center;

  font-size: 5rem;
  text-shadow: 4px 4px 2px rgba(255, 255, 255, 0.8);
}

/* card section */
div.card-grid {
  /* layout */
  display: grid;
  grid: auto auto auto auto/ 1fr 1fr;
}

.card-txt {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 300px;
  gap: 8px;

  /* styling */
  text-align: center;
  background-color: var(--secondary);

  grid-column: span 2;
}

.card-txt p {
  padding: 10px;
  min-width: 320px;
  max-width: 650px;
}

.card-img {
  /* sizing */
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  grid-column: span 1;
}

/* table */
div.table {
  margin: 20px;
}

table {
  /* spacing */
  margin-top: 8px;

  /* styling */
  border-collapse: collapse;
}

th {
  /* styling */
  text-transform: uppercase;

  /* spacing */
  padding: 0.25rem;
}

td {
  /* spacing */
  padding: 0.25rem;
}

th,
td {
  /* sizing */
  width: 12rem;

  /* styling */
  /* border: 1px solid var(--w); */
}

/* contact section */
.card-contact {
  /* layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* spacing */
  padding: 2rem;
  gap: 1rem;

  /* styling */
  background-color: var(--primary);
}
/* END OF INDEX PAGE */

/* START OF MENU PAGE */
.main-header {
  /* styling */
  text-align: center;
  background-color: var(--accent);

  /* spacing */
  padding: 0.5rem;
}

.menu-nav {
  /* layout */
  display: grid;
  grid: 1fr / 1fr 1fr 1fr;
  width: 100%;

  /* styling */
  font-size: 24px;
  background-color: var(--secondary);

  /* sizing */
  height: 60px;
}

.menu-btn {
  /* button styling */
  background: none;
  border: none;
  border-radius: 0;
  outline: none;

  /* styling */
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 8px;

  text-align: center;
  align-content: center;

  /* pseudo-classes */
  &:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: var(--secondary-hover);
  }
}

/* menu section */
#menu-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* drinks / food / dessert menu */
#drinks-menu,
#food-menu,
#dessert-menu {
  display: grid;
  grid: 400px 1fr / 300px;
  justify-content: center;
  align-items: start;
}

#drinks-menu.hide,
#food-menu.hide,
#dessert-menu.hide {
  display: none;
}

.menu-content {
}

.menu-img {
  width: 300px;
  height: 400px;

  margin: auto;

  object-fit: cover;
  object-position: center;

  border-radius: 10px;
}

/* drinks menu */
.drinks-header,
.drinks-row {
  display: grid;
  grid: 1fr / 200px 48px 48px;
  min-width: 320px;

  text-align: center;
}

.drinks-header {
  font-weight: bold;
}

.drinks-row :first-child {
  text-align: left;
}

/* food menu */
.food-row p {
  font-size: 12px;
}

/* UTILITY CLASSES */
.t-upper {
  text-transform: uppercase;
}
